<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- ✅ INTERNET permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoppingApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".itemdetailscreen.FullscreenImageActivity"
            android:exported="false" />
        <activity
            android:name=".itemdetailscreen.ItemDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryItemsScreen.ItemsActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileScreen.EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ProfileScreen.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".subcategory.SubCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".auth.forgotpassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.register.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginScreen.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.AccountPrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.ShareAppActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.RewardActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.PaymentSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.MoneyActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.ReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.ImpactActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.PrescriptionsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.GiftCardsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.GstDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.AddressbookActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.BookmarksActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileScreen.profilepages.OrdersActivity"
            android:exported="false" /> <!-- android:name=".HomeActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".OtpVerification" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>